<div class="col-md-12 p-0">
    <div class="col-md-12 stats-block-row">
        <div class="logo-title">
            <img src="./assets/images/cibco-small.PNG" />
            <div class="version-info">
                Version: 1.8.8 | Last Update: May 12, 2022
            </div>
        </div>
    </div>
    <div class="col-md-12 title-block-info">
        <div class="section-title">
            2022 Risk Assessment
        </div>
        <div class="section-note">
            Inherent Risk Questionnaire (Scope Period: August 1, 2021 to july 31, 2022)
        </div>
    </div>
    <div class="col-md-12 notes-average-block">
        <div class="question-title">
            Instructions for completing the Questionnaire
        </div>
        <div class="average-block">
            <div class="average-info">
                <div class="percent-info">
                    % of Completion
                </div>
                <div class="percent-value">
                    100.00%
                </div>
            </div>
        </div>
    </div>
    <div class="steps-block">
        <div class="steps-info">
            <div class="label-text">Step 1 of 4:</div>
            <div class="label-value">Select SBU and LoB.</div>
        </div>
        <div class="steps-table">
            <table class="table-border steps-table">
                <tbody>
                    <tr>
                        <th>SBU</th>
                        <td>
                            10 - Personal and Bussiness Banking - Canada
                        </td>
                    </tr>
                    <tr>
                        <th>LoB</th>
                        <td>
                            1000001 - Payments (Card Products) [CARDS]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="steps-block">
        <div class="steps-info">
            <div class="label-text">Step 2 of 4:</div>
            <div class="label-value">Complete columns titled 'Data Value', 'Data Type', 'Source System', 'Source Report' and 'Prepared By', on the inherent Risk (2022) page (Scope Period: August 1, 2021 to july 31, 2022).
                <div class="notes-info">
                    (Please note that there are two new questions 2h and 3f added to the questionnaire and data input in the new column '<span class="sky-blue">High Risk Data - Comprehensively Sanctioned Countries</span>' is required for 
                    questions <span class="sky-blue">4a</span>,<span class="sky-blue">4b</span>,<span class="sky-blue">4c</span>,<span class="sky-blue">4d</span>,<span class="sky-blue">4h</span> and <span class="sky-blue">4i</span>.)
                </div>
            </div>
            
        </div>
    </div>
    <div class="steps-block">
        <div class="steps-info">
            <div class="label-text">Step 3 of 4:</div>
            <div class="label-value">Send completed forms to EAML Risk Assessment Mailbox: <b>CIBC AML Risk Assessment, Mailbox Mailbox.CIBCAMLRiskAssessment@cibc.com</b></div>
        </div>
    </div>
    <div class="steps-block">
        <div class="steps-info">
            <div class="label-text">Step 4 of 4:</div>
            <div class="label-value">
                <div class="step-4-info">
                    Please retain all source data artifacts including <span class="bold-underline-text">
                        reports, memos, screenshots of online reports, etc.
                    </span> for the purpose of complying with requests for data validation by internal Audit, EAML Examinations or EAML.
                </div>
            </div>
        </div>
    </div>
</div>