.left-block-stats {
    width: 100%;
}
.logo-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.version-info {
    font-size: 12px;
    margin-left: 10px;
}
.left-year-stats {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 14%;
}
.left-form-title {
    width: 100%;
}
.form-title {
    font-size: 18px;
    color: #ad1315;
    font-weight: 500;
}
.form-scope {
    font-size: 14px;
    color: #ad1315;
    font-weight: 400;
}